#nav_menu ul {list-style-type:none;}
#nav_menu ul li {float: left}
#nav_menu ul li a{
    text-align: center;
    display:block;
    width:160px;
    padding: 1em 14px;
    text-decoration:none;
    background-color:blue;
    color:white;
    font-weight: bold;
    border-right: 2px solid white;
    clear:both;
    border-bottom: 2px solid blue;

 }
 

 
  #nav_menu ul li a.lastitem {border-right:none;}
    #nav_menu ul li a.current { color:yellow;}

    body{
   
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        width: 90%;
        background-color: white;
        margin: 15px auto;
        padding: 15px 1.5em;
        border: 1px solid black;
        border-radius: 25px;
        box-shadow: 5px 5px 0 0;
    }

    img{
        float: left;
        margin: 2.5em;
    }

    article 
    {
        width: 70%;
        float: left;
        clear:left;
        column-count: 3;
        column-rule: 2px dotted blue;
        column-gap: 2em; 
        margin-left: 2em;
    
    }

    

article p::first-letter {
    font-size: 3em ;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;
}
footer{
    clear: both;
    border-top: 2px solid blue;
}


footer p.copyright{
    text-align: center;
    font-size: 80%;
}
aside.fixed
{
    width: auto;
    position: fixed;
    bottom: 35%; 
    right: 0; 
    border: 3px solid darkgreen;
    background-color: lightgreen;
    padding: 2em;
}

ol {list-style-type:upper-roman;}
ul {list-style-type:square;}