#nav_menu ul {list-style-type:none;}
#nav_menu ul li {float: left}
#nav_menu ul li a{
    text-align: center;
    display:block;
    width:175px;
    height: 200px;
    padding: 1em 0;
    text-decoration:none;
    background-color:blue;
    color:white;
    font-weight: bold;
    border-right: 2px solid white;

 }
  #nav_menu ul li a.lastitem {border-right:none;}
    #nav_menu ul li a.current { color:yellow;}

    img{
        float: left;
        margin: 2.5em;
    }

article 
{
    clear: left;
    padding-top: 1em;
}
article p::first-letter {
    font-size: 3em ;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}
aside{
    width: 20%;
    float: right;
    background-color: rgb(101, 101, 237);
    padding: 0.1em 1em 1em;
}

ol {list-style-type:upper-roman;}
ul {list-style-type:square;}