body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    
}
a:focus, a:hover{
    font-style: italic;
    color: orangered;
}
header h1{
    font-size: 175%;
    color: maroon;
    text-indent: 30 px;
    
}
header h2{
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
     
}
img{
    float: left;
    margin-right: 1em;
}

.shadow{
    text-shadow: 2px 2px 2px rgb(128, 0, 0)
}
main{
    clear: left;
}
main h3{
    font-size:105%;
    margin-top: 3em;
}

#list{
    line-height: 1.5em;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}

    