html, body {
    margin: 1em;
    height: 100%;
    font-size: 100%;
    }
    * {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    /*-----------------------------------------------------------*/
    table.first {
        border-collapse: separate;
        border: 2px solid black;    
    }
    table.first th, table.first td {
        border: 2px solid blue;
    }
    table.first tr:nth-child(odd) {
        background-color: lightblue;
    }
    /*-----------------------------------------------------------*/
    table.second {    
        border-collapse: collapse; 
        border: 2px solid purple;   
        caption-side: bottom;
    }
    table.second th {
        background-color: salmon;
    }
    table.second th, table.second td {
        padding: 0.7em;  
        vertical-align: middle;
        border: 2px solid purple;
    }
    table.second thead tr:first-child{     
        border-bottom: 2px solid purple;
    }

    /*-----------------------------------------------------------*/

    /*table.third caption {  
        
        
        caption-side: top;
        background: rgb(189, 250, 75);
    }
    
    table.third th 
    {
        padding: 0.7em;  
        vertical-align: middle;
        background-color: rgb(189, 250, 75);
    }
    table.third th, table.third td {
        padding: 0.7em;  
        vertical-align: middle;
        
    }
    table.third thead tr:first-child
    {     
        border-bottom: 2px solid red;
    }
    */
    /*-----------------------------------------------------------*/
    
    table.third {    
        border-collapse: collapse; 
          
       
    }
    table.third caption{
        border-top: 2px solid purple;
        caption-side: top;
        background: rgb(189, 250, 75);
        border-bottom: 2px solid purple;
    }
    table.third th {
        background-color: rgb(189, 250, 75);
        border-bottom: 2px solid purple;
    }
    table.second th, table.third td {
        padding: 0.7em;  
        vertical-align: middle;
        
    }
    table.third thead tr:first-child{     
        border-bottom: 2px solid purple;
    }

    @media only screen and (max-width: 425px) {
        th, td {
            display: block;
        }
        thead, td.number {
            display: none;
            padding: 0;
        }    
    }
    